// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-white: #fff;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// MEDIA QUERIES - RESPONSIVE BREAKPOINTS

$bp-largest: 75em; // 1200px - 1200 / 16
$bp-large: 62.5em; // 1000px - 1000 / 16
$bp-medium: 50em; // 800px - 800 / 16

$bp-small: 37.5em; // 600px - 600 / 16
// As for this last query, we only need to style the rows that are defined by us, the rest already responds to min content.

// GLOBAL SETTINGS

// Reset
html {
  box-sizing: border-box;
  font-size: 62.5%; // 16 / 10 -> 1rem === 10px

  // Query 1
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; // 1rem - 8px
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Global font-settings

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

// MAIN CONTAINER

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];

  // Query 2 - We need to add a new row and remove the first column. Now the layout is going to start at the full-start line.
  // As for the row, remember that with this query 1rem is 8px, so 6rem is 48px.
  // Of course we need to place the side bar in the right place
  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end]
      minmax(6rem, 1fr) [full-end];
  }

  // Query 3 - add a new row for the realtors and making the header occupy the entire viewport.
  // Notice that we need to use the calc function to subtract the 6rem of the 6rem of the sidebar(now at the top)
  // We also changed the story row from vw to min-size, so that the content defines the height. Like this its still responsive and no longes depends of the width of the viewport.
  // Notice that we have a lot of rows defined with min-content, we don't need that code because the implicit grid adds the rows set to min content.
  // We are now just sizing the first two rows, the sidebar and the header, the rest is defined implicitly with the content defining the height.

  // @media only screen and (max-width: $bp-medium) {
  //   grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(
  //       3,
  //       min-content
  //     );
  // }
  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}
