// Here we have a grid with three columns with two rows.

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  // grid-template-columns: subgrid;
  // grid-template-columns: repeat(3, 1fr);
  // Responsive columns in this grid
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;

  // To decrease the space between the h4 and the p
  align-items: start;
}

// min-content for the icon and the other column occupy the rest. auto instead of min-content would also work.
.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
