.story {
  &__pictures {
    // background-color: $color-primary; testing
    grid-column: full-start / col-end 4;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url(../img/back.jpg);
    background-size: cover;

    // Query 3 (span through the entire row and add some padding, basically we want these images to go from the start to the end of the grid)
    @media only screen and (max-width: $bp-medium) {
      grid-column: full-start / full-end;
      padding: 3rem; // Unglue from the margin
    }
  }

  &__img--1 {
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    box-shadow: 0 2rem 5rem rgba(#000, 0.1);

    // Query 3 (Re placing the images)
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / 5;
      grid-row: 1 / -1;
    }
  }

  &__img--2 {
    width: 115%;
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    box-shadow: 0 2rem 5rem rgba(#000, 0.2);
    z-index: 1;

    // Query 3 (Re placing the images)
    @media only screen and (max-width: $bp-medium) {
      grid-row: 1 / -1;
      width: 100%;
    }
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;

    // padding: 6rem 12rem; Hardcoding the left and right padding makes it so that, when we reduce the size of the window, the space is way too bit.
    padding: 6rem 8vw;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;

    display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(4, min-content); wasn't necessary
    align-content: center;
    justify-items: start;

    // Query 3 (span through the entire row and move to the row above)
    @media only screen and (max-width: $bp-medium) {
      grid-column: full-start / full-end;
      grid-row: 5 / 6;
    }
  }

  &__text {
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 4rem; // Not reusable so we don't need a helper class.
  }
}
