/* Remember that we've started by creating the initial .btn{}, then made the first ampersand replacement for btn, then the second level of indentation for the white button, */
// We can say that the button is a component, it is a block, reusable across the page, it is independent and it works everywhere.

// Defaults
// Remember that the styles were only being applied to anchors and we needed this button for a form button, hence the first ampersand.
.btn {
  &,
  &:link,
  &:visited {
    font-size: $default-font-size;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;

    // Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    // second level
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  // Modifier white button
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    // second level
    &::after {
      background-color: $color-white;
    }
  }

  // Modifier green button
  &--green {
    background-color: $color-primary;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  // Some of the styles are similar to the btn that we already have
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block; // As always for the padding, martin etc.
    text-decoration: none; // Because we want to put our own underline style (padding/space between the text and the line)
    border-bottom: 1px solid $color-primary;
    padding: 3px;

    // For the animation - don't FORGET
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  // The click, remember
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
